.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
}

.title {
  font-weight: var(--font-weight-bold-extra);
  color: var(--green-color);
  font-size: var(--font-size-xxl);
}

.info {
  font-weight: var(--font-weight-bold-extra);
  color: var(--gray-color-2);
  font-size: var(--font-size-xl);
  margin-bottom: 24px;
}
