.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  row-gap: 20px;
}

.message {
  font-size: var(--font-size-lg);
  color: var(--gray-color-2);
}
